$colorBG: #addae2;

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $colorBG;
}

.general_caption {
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
}

.mainText{
    margin: 10px 10px 0;
}

hr {
    height: 2px;
    width: 100%;
    background: #000;
    border: 0;
}